#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


# main packaging script based on dh7 syntax
%:
	#dh $@  --parallel --with systemd
	dh $@  --parallel

override_dh_auto_configure:
	./bootstrap.sh --enable-geoip --with-libiconv --with-libgeoip --enable-invariant-checks=no --prefix=/usr

override_dh_clean:
	rm -rf build-aux
	cd libtorrent/build-aux && rm -f compile  config.rpath  depcomp  install-sh  ltmain.sh  missing
	rm -f Makefile.in aclocal.m4 config.report configure m4/libtool.m4 m4/ltoptions.m4 m4/ltversion.m4
	dh_clean

override_dh_auto_install:
	install -m755 twisterd $(CURDIR)/debian/twister/usr/lib/twister/twisterd
	install -m755 debian/twister.sh $(CURDIR)/debian/twister/usr/bin/twister

override_dh_strip:
	dh_strip --dbg-package=twister-dbg

override_dh_installinit:
	dh_installinit --name=twister

#override_dh_systemd_enable:
#	dh_systemd_enable --name=twister


override_dh_installdocs:
	dh_installdocs -ptwister-daemon -ptwister-dbg --link-doc=twister
	dh_installdocs --remaining-packages
